@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap);@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap);@import url(https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap);* {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.6px;
}

input {
  font-weight: lighter !important;
  font-size: 14px !important;
}

.fontShadow {
  font-family: "Shadows Into Light", cursive;
  font-size: calc(1vw + 15px);
}

.fontShadow2 {
  font-family: "Shadows Into Light", cursive;
}

.navColor {
  background-color: #A98307 !important;
}

.btnColor {
  background-color: #fad96b !important;
  color: #A98307 !important;
}

.formWidth {
  width: 100% !important;
  padding: 0 25px;
}

.map {
  position: relative;
  height: 450px !important;
  min-width: 80% !important;
  overflow: hidden;
  margin: 10px auto !important;
}

.map2 {
  position: relative;
  height: 450px !important;
  min-width: 80% !important;
  overflow: hidden;
  margin: 10px auto !important;
}

.dividerStyle {
  min-width: 60% !important;
  max-width: 70% !important;
}

.resetControl {
  background: #a50000;
  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 0.1em;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.v-btn--active.no-active:not(:focus):not(:hover)::before {
  opacity: 0 !important;
}

